<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/2cdeb7e939.js"></script>
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/d
AiS6JXm"
crossorigin="anonymous"> -->
    <link href="http://localhost/aplikasicv//css/main.css" rel="stylesheet"
type="text/css" >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }


        table,

        img {
            -ms-interpolation-mode: bicubic;
        }

        /* RESET STYLES */
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
        }

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* MOBILE STYLES */
        @media screen and (max-width:750px) {
            h1 {
                font-size: 32px !important;
                line-height: 32px !important;
            }
        }

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }
    </style>
    <title></title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93h
XpG5KkN"
crossorigin="anonymous"></script>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXus
vfa0b4Q"
crossorigin="anonymous"></script>
    <script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+7
6PVCmYl"
crossorigin="anonymous"></script>

    <body style="background-color: #f4f4f4; margin: 0 !important; padding: 0!important;">
        <!-- HIDDEN PREHEADER TEXT -->
        <div style="display: none; font-size: 1px; color: #fefefe;line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"></div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <!-- LOGO -->
            <tr>
                <td style="background: url('https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626341789524-Path-37050.png?alt=media&token=7d65fdb4-7752-4e24-831a-745f5824f05b');background-position: center;background-repeat: no-repeat;background-size: cover;" align="center">
                    <table border="0" cellpadding="0" cellspacing="0"width="100%" style="max-width: 750px;">
                        <tr>
                            <td align="center" valign="top" style="padding: 75px 10px 50px 10px;"> 
                            <img src="https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626341776066-Logo-Smarteschool-Putih.png?alt=media&token=2f0b9057-e18a-4174-b174-33fb972f755d" alt="" style="height: 70px;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: url('https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626341789524-Path-37050.png?alt=media&token=7d65fdb4-7752-4e24-831a-745f5824f05b');background-position: center;background-repeat: no-repeat;background-size: cover;" align="center" style="padding: 0px 10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0"width="100%" style="max-width: 750px;border-radius: 10px 10px 0px 0px;">

                        <tr>
                            <td bgcolor="#dedede" style="padding: 20px 20px0px 20px; border-radius: 10px 10px 0px 0px;">
                                <table  border="0" cellpadding="0"cellspacing="0" width="100%" style="max-width: 750px;">
                                    <tr>
                                        <td bgcolor="#ffffff" align="left" valign="top" style="padding: 60px 20px 0px 30px; border-radius: 10px 10px 0px 0px; color: white; font-family: 'Lato', Helvetica, Arial, sans-serif;font-size: 36px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 0px10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0"width="100%" style="max-width: 750px;">
                        <tr>
                            <td bgcolor="#f4f4f4" style="padding: 0px 20px0px 20px;">
                                <table border="0" cellpadding="0"cellspacing="0" width="100%" style="max-width: 750px;">
                                    <tr>
                                        <td bgcolor="#ffffff" align="center"valign="top" >
                                            <img src="https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626321625796-Pertemuan.png?alt=media&token=4bceac86-2113-47fd-9286-6346de2156db"style="display: block; border: 0px; height: 260px!important;margin-bottom: 24px;" />
                                        </td>
                                        
                                    </tr>
                                </table>
                                <table border="0" cellpadding="0"
cellspacing="0" width="100%" style="max-width: 750px;">
                                    <tr>
                                        <td bgcolor="#ffffff" align="center"style="padding: 10px 30px 10px 30px; color: #666666; font-family: 'Lato',Helvetica, Arial, sans-serif; font-size: 32px; font-weight:bold;line-height: 25px;margin-bottom: 24px;">
                                            <p style="margin: 0;margin-bottom: 24px;">Kode Verifikasi</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#ffffff" align="center"style="padding: 0px 30px 10px 30px; color: #666666; font-family: 'Lato',Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400;line-height: 25px;margin-bottom: 24px;">
                                            <p style="margin: 0;margin-bottom: 24px;width: 80%;">Halo {{name}} berikut kode verifikasi email anda {{code}}</p>
                                        </td>
                                    </tr> <!-- COPY -->
                                </table>
                            </td>
                        </tr>
                          <tr>
                            <td style="text-align: center;">
                                <p style="font-size: 16px; color: #80849C;">©Smarteschool.Hak Cipta Dilindungi oleh Undang-Undang.</p>
                                <p style="font-size: 14px; color: #80849C; margin: 0;">Gedung ITHO,Jl. Karang Tengah Raya, Cilandak, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12440</p>
                            </td>
                            
                        </tr>
                        <tr>
                          <td style="color: #80849C;text-align: center; padding: 20px;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626332903473-globe-solid-(1).png?alt=media&token=32c9f977-b62b-4831-bbca-331de266681d" alt="">
                            <img src="https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626332869416-facebook-f-brands.png?alt=media&token=f4df1be3-cbb9-4332-a08f-6fbfa20dde79" alt="" style="margin-left: 10px;margin-right: 10px;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/smart-school-300211.appspot.com/o/1626332924586-instagram-brands-(1).png?alt=media&token=dd119cef-f5a2-4e16-8fb9-41a9cd83cfde" alt="">
                          </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    </div>
</html>